[flake8]
# Q000: Double quotes found but single quotes preferred
# I001: isort found an import in the wrong position
# S104: Possible binding to all interfaces
# WPS306: Found class without a base class
# D100: Missing docstring in public module
# B008: Do not perform function calls in argument defaults
# WPS404: Found complex default value
ignore = Q000, I001, S104, WPS306, D100, B008, WPS404
max-line-length = 89

# Exclude some directories from flake8
# __init__.py files are excluded by default
exclude = .git,.idea,.mypy_cache,.venv,.vscode,migrations

# D104: Missing docstring in public package
per-file-ignores =
    **/__init__.py: D104